div {
    display: grid;
    max-width: 100%;
    grid-template-columns: 350px 350px 350px;
    margin-left: 200px;
}

h1{
    background-color: #d627d0;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

/*.garam h2{ 
max-width: 100%;
    width: 1200px;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

.bangkok h2{
    width: 1200px;
    margin: 0;
    padding: 0;
}

.shake h2{
    width: 1200px;
    margin: 0;
    padding: 0;
}*/

a{
    Padding: 6px 12px;
    display: inline-block;
    
}
footer{
    background: #d627d0;
    width: 100%;
    color: white;
    padding: 10px;
    text-align:center;
}

table{
    margin: 20px 20px;
    text-align: left;
    max-width: 1200px;
    width: 100%;
}